<html>
        <head>
                <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        </head>
 
        <body>
 
                <script>
       
                        // when the document is ready..
                        $(document).ready(function() {
                                // do the following..
                       
                                // ajax get from url
                                $.get('api/4083685136/submission/authorizable', function(data) {
                                        // output to console
                                        console.log(JSON.stringify(data));
 
                                        //var data = [ [ 1, 2, 3 ], [ 4, 5, 6 ], [7, 8, 9 ] ];
 
                                        var html = '<table border="1"><thead></thead><tbody>';
 
                                        html += '<tr><td>ID</td><td>User</td><td>Status</td><td>Amount</td><td>Description</td><td>Paid</td><td>Current Number of Signatures</td><td>Signatures Needed</td></tr>';
 
                                        for (var i = 0, len = data.length; i < len; ++i) {
                                        html += '<tr>';
                                        //for (var j = 0, rowLen = data[i].length; j < rowLen; ++j ) {
                                                html += '<td>' + data[i].id + '</td>';
                                                html += '<td>' + data[i].user + '</td>';
                                                html += '<td>' + data[i].status + '</td>';
                                                html += '<td>' + data[i].amount + '</td>';
                                                html += '<td>' + data[i].description + '</td>';
                                                html += '<td>' + data[i].paid + '</td>';
                                                html += '<td>' + data[i].numSignatures + '</td>';
                                                html += '<td>' + data[i].totalSignaturesNeeded + '</td>';
                                        //}
                                        html += '<td><button id=' + data[i].id + ' onClick="reply_click(this.id)">Approve</button></td>';
                                        html += "</tr>";
                                        }
 
                                        html += '</tbody><tfoot></tfoot></table>';
 
                                        $(html).appendTo('#div1');
                                });
 
                        });
 
                        function reply_click(clicked_id)
                        {
                        alert(clicked_id);
                        }
               
                </script>
 
                List of Transactions
 
                <div id="div1">
                </div>
 
        </body>
</html>